* {
margin: 0;
}

body {
  background: whitesmoke;
  background-repeat: no-repeat;
  
}

.app {
  display: flex; 
  justify-content:space-evenly;
}
.app__header {
  display: flex; 
  align-items: center;
  margin-bottom: 20px; 
  justify-content: space-between;
}

.app__stats {
  display: flex;

}

.app__left {
  flex: .9;
}

@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  * {
    flex-direction: column;
  }
}