* {
margin: 0px
}

body {
  background: whitesmoke;
  background-repeat: no-repeat;
  
}

.app {
  display: flex; 
  justify-content:space-evenly;
  padding: 20px;

}
.app__header {
  display: flex; 
  align-items: center;
  
  margin-bottom: 20px; 
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c4c;
  font-size: 2rem;
}


.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: .9;
}

.app__right {
  overflow: hidden;
  display: flex;
}



@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  * {
    flex-direction: column;
  }
}